.card {

	--border-card: var(--mantine-color-red-7);
	--border-card-hover: var(--mantine-color-red-6);

	--border-card-required: var(--mantine-color-red-9);
	--border-card-required-hover: var(--mantine-color-red-8);

	--border-card-completed: var(--mantine-color-green-7);
	--border-card-completed-hover: var(--mantine-color-green-6);

	transition: border 250ms ease, opacity 250ms ease;
	border: 3px solid var(--border-card);
	text-align: center;
	opacity: 1;

	padding: var(--mantine-spacing-xs);
	display: inline-block;
	position: relative;
	cursor: pointer;

	aspect-ratio: 1 / 1;

	&:hover {
		border: 3px solid var(--border-card-hover);
	}

	&[data-required="true"] {
		border: 3px solid var(--border-card-required);

		&:hover {
			border: 3px solid var(--border-card-required-hover);
			opacity: 1;
		}
	}

	&[data-completed] {
		border: 3px solid var(--border-card-completed);
		opacity: 0.7;

		background-image: url(../images/checkmark.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		&:hover {
			border: 3px solid var(--border-card-completed-hover);
			opacity: 1;
		}
	}
}
