
main {

    background-color: var(--bg-main);
    min-height: 80vh;

    #bingo-card {
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
    }

    #container-squares {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: flex-start;
        max-width: 1000px;
        min-width: 75%;
        padding-bottom: 44px;
    }

    .square {
        transition: border 0.5s ease;
        aspect-ratio : 1 / 1;
        padding: 5px;
        background-color: var(--bg-card);
        border: 4px solid var(--border-card);
        text-align: center;
        width: 24%;
        margin: 0.5% 0;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
        color: var(--text-card);
        
        p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    .square.required {
        background-color: var(--bg-card-required);
        border: 4px solid var(--border-card-required);
        color: #282727;
        font-weight: 600;
    }

    .square:active, .square:focus {
        border: 4px solid var(--border-card-active);
    }

    .checked {
        background-image: url('../images/checkmark.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}


