
#popup {
    box-shadow: 0 0 25px #00000080;
    border-top: 4px solid #CC3D12;
    background-color: #E35F41;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    font-size: 2rem;
    color: #eee;
    z-index: 100;
    transition: all 0.5s ease;
    transform: translateY(100%);
}

#popup.active {
    transform: translateY(0);    
}