:root {    
    --bg-header: #EECC54;
    --text-header: #1F1E1A;

    --bg-footer: #1F1E1A;
    --bg-main: #F8F2D6;

    --bg-card: #E35F41;
    --border-card: #CC3D12;
    --text-card: #1b1a1a;

    --bg-card-required: #DF5555;
    --border-card-required: #BD0000;
    
    --border-card-active: #EECC54;

    --footer-text: #EEE;
}

[data-blackout="true"] {
    --bg-header: #2C3E50;
    --text-header: #F1C40F;

    --bg-footer: #1A252F;
    --bg-main: #2F3640;

    --bg-card: #232323;
    --border-card: #4d0000;
    --text-card: #eee;

    --bg-card-required: #232323;
    --border-card-required: #800000;
    
    --border-card-active: #2ECC71;

    --footer-text: #ECEDEE;
}